<div id="menu-header" class="col-sm-6 col-md-6 col-lg-6">
  <div class='group'>
    <%= link_to 'Home', '#', class: 'btn menu-header' %>
    <%= link_to 'Portifólio', '#', class: 'btn menu-header' %>
    <%= link_to 'Sobre', '#', class: 'btn menu-header' %>
    <%= link_to 'Contato', '#', class: 'btn menu-header' %>
  </div>
</div>
