<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>ESilvamg</title>

  <%= render 'shared/meta_tags' %>
</head>
<body>
  <div id="home" class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
